[General]
unpack=true
noauth=true
bootstrap=Debian
aptsources=Debian

[Debian]
packages=base-files base-passwd bash bsdutils coreutils dash debconf debian-archive-keyring debianutils diffutils dpkg e2fslibs e2fsprogs findutils gcc-6-base grep gzip hostname init-system-helpers libacl1 libattr1 libblkid1 libc-bin libc6 libcomerr2 libfdisk1 libgcc1 liblzma5 libmount1 libpam-modules libpam-modules-bin libpam-runtime libpam0g libpcre3 libselinux1 libsepol1 libsmartcols1 libss2 libtinfo5 libuuid1 login lsb-base mawk mount multiarch-support ncurses-base ncurses-bin passwd perl-base sed sensible-utils sysvinit-utils tar tzdata util-linux zlib1g console-data console-setup vim openssh-server systemd systemd-sysv sysv-rc udev locales sudo init netbase bash python procps util-linux coreutils binutils bsdutils iproute2 apt net-tools lxc bridge-utils debootstrap gnupg iptables openssl rsync isc-dhcp-common isc-dhcp-client iputils-ping iftop htop ifupdown network-manager tcpdump
source=http://ftp.uk.debian.org/debian
keyring=debian-archive-keyring
suite=stretch